<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


<head>
  <title>Tasktrader | Search Tasks</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,300i,400,600,600i,700,800,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
  <script src="../static/tasktrader.js"></script>
 </head>

<body class="page_body">
  <!-- Navbar -->
  <nav id="navigation_bar">
        <h1 id="page_header">Task Trader - Create Task</h1>
        <a href="{% url 'explore' %}" class="nav_link">Explore</a>
        <a href="{% url 'dashboard' %}" class="nav_link">Dashboard</a>
        <a href="{% url 'profile' %}" class="nav_link">Profile</a>
        <a href="{% url 'onboarding' %}" class="nav_link">Onboard</a>
        <a href="{% url 'create' %}" class="nav_link">Create a new task</a>
        <a href="{% url 'tasks' %}" class="nav_link">Search Tasks</a>
  </nav>
  <!-- Search tasks -->

<div align = "center" style="border: solid 1px #000000;">
    <caption style="font-size:20px;">Search Tasks</caption>
    <form id="tasks" action ="{% url 'tasks' %}" method ='post' border = 1>
      {% csrf_token %}
            <label class="">Weekly Time Commitment (hours)</label>
            <input type="number" name="time_commitment">

            <label class="">Location: </label>
            <select id="new_task_location" name="task_location_id" placeholder="Which location is this task being completed for?" required>
                <option value='ALL'>All</option>
                {% for location in location_set %}
                    <option value="{{ location.id }}">{{ location.campus_name }}</option>
                {% endfor %}
            </select>
            <label class="">Department: </label>
                    <select id="new_task_department" name="task_department_id" placeholder="Which deparment is this task being completed for?" required>
                    <option value='ALL'>All</option>
                {% for department in department_set %}
                    <option value="{{ department.id }}">{{ department.department_name }}</option>
                {% endfor %}
            </select>
            <input type= "submit" value = "Create"/>
    </form>
</div>

<div style="border: solid 1px #000000;">
  <table border =1>
      <caption style="font-size:20px;">Tasks</caption>
      <tr>
        <th>Job Title</th>
        <th>Deadline</th>
        <th>Time Commitment</th>
        <th>Location</th>
        <th>Deparment</th>
      </tr>
      {% for task in task_set %}
      <tr>
          <td>{{ task.task_title }}</td>
          <td>{{ task.start_date }}</td>
          <td>{{ task.time_commitment }}</td>
          <td>{{ task.location.campus_name }}</td>
          <td>{{ task.department.department_name }}</td>
      </tr>
      {% endfor %}
  </table>
</div>




</body>
</html>
