<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


<head>
  <title>Tasktrader | Onboarding</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,300i,400,600,600i,700,800,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
  <script src="../static/tasktrader.js"></script>
 </head>

<body class="page_body">
  <!-- Navbar -->
<nav id="navigation_bar">
      <h1 id="page_header">Task Trader</h1>
      <a href="{% url 'explore' %}" class="nav_link">Explore</a>
      <a href="{% url 'dashboard' %}" class="nav_link">Dashboard</a>
      <a href="{% url 'profile' %}" class="nav_link">Profile</a>
</nav>
  <!-- Creating a new company -->
<div align = "center" style="border: solid 1px #000000;">
  <form id="add_new_company" action ="{% url 'add_new_company' %}" method ='post' border = 1>
    {% csrf_token %}
    <label class="">Company Name</label>
    <input type = "text" name ="company_name" />
    <input type= "submit" value = "Create"/>
  </form>
</div>


  <div align = "center" style="border: solid 1px #000000;">
    <table>
        <caption style="font-size:20px;">All Companies</caption>
        <tr>
          <th>Company</th>
          <th>Location</th>
        </tr>
        {% for company in company_set %}
        <tr>
            <td>{{ company.company_name }}</td>
            <td></td>
        </tr>
        {% endfor %}
        {% for location in location_set %}
        <tr>
            <td>{{ company.company_name }}</td>
            <td>{{ location.company_id.company_name }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>

  <div align = "center" style="border: solid 1px #000000;">
    <table>
        <caption style="font-size:20px;">All Companies</caption>
        <tr>
          <th>Company</th>
          <th>Department</th>
        </tr>
        {% for company in company_set %}
        <tr>
            <td>{{ company.company_name }}</td>
            <td></td>
        </tr>
        {% endfor %}
        {% for department in department_set %}
        <tr>
            <td>{{ department.company.company_name }}</td>
            <td>{{ department.department_name }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>

</body>
</html>
